@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Signika:wght@600&family=Taviraj:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Taviraj, sans-serif;
    font-weight: 400;    
    color: #3d3d3d;
}

/* heading and logo*/
h1{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e0e0e0;
}

h2{
    font-family: Signika, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: #3d3d3d;
}

/* navbar */

#navbar{
    overflow: hidden;
    background-color: #5491eb;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

#navbar h1{
    float: right;
    font-size: 250%;
    margin-right: 30px;
    color: white;
    position: relative;
}

#navbar a:hover{
    border-bottom: #3d3d3d solid 3px;
    background-color: #345a94;    
}

/* Hero image */

#hero-image{
    height: 640px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}