@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Signika:wght@600&family=Taviraj:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Taviraj, sans-serif;
    font-weight: 400;    
    color: #3d3d3d;
}

/* heading and logo*/
h1{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e0e0e0;
}

h2{
    font-family: Signika, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: #3d3d3d;
}

/* navbar */

#navbar{
    overflow: hidden;
    background-color: #5491eb;
    position: sticky; 
    top: 0; 
    width: 100%; 
}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

#navbar h1{
    float: right;
    font-size: 250%;
    margin-right: 30px;
    color: white;
    position: relative;
}

#navbar a:hover{
    border-bottom: #3d3d3d solid 2px;
    background-color: #345a94;    
}

/* Hero image and Intro Text */

#intro{
    width: 100%;
    height: 700px;    
    overflow: hidden;
    position: relative;
}

#hero-image{
    /* Parallax effect */
    width: 100%;
    min-height: 700px;   
    background-image: url('../images/hero-image.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;      
}

#intro-text{
    font-size: 120%;
    font-family: Signika, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: white;

    width: 25%px;
    height: auto;

    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 20px;

    background-color: rgba(147, 188, 250, 0.8);

    bottom: 20px;
    right: 200px;

    position: absolute;

}

#intro-text h2{
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}